.xf-nav-item {
  position: relative;
}

.xf-nav-icon {
  position: absolute;
  mask-image: radial-gradient(circle at bottom right,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 50%);
  mask-composite: add;
  
}

#list-content a {
  text-decoration: none;
}

.xf-list-item {
  width: 100%;
  margin: 8px 0;

  img {
    object-fit: contain;
    height: 96px;
    width: 96px;
    float: left;
  }
}

.xf-detail-icon {
  max-height: 64px;
  max-width: 64px;
  object-fit: contain;
}